button:focus {
    outline: none;
}

.dropdown-menu {
    width: 100%;
}
.container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
.fake-link {
    cursor: pointer;
}

#usuario_logueado .dropdown-menu {
    z-index: 1040;
}

.image-cropper-register {
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background-color: darkgray;
}

.image-cropper {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    background-color: darkgray;
}

.profile-img {
    margin: 0 auto;
    height: 100%;
    width: auto;
}

#profile-btn {
    outline: none;
    box-shadow: none;
}

/* Seccion de estilos para el nav de productos */
#nav {
    transition: all 1000ms;
}
#lista {
    transition: all 1000ms;
    overflow-y: scroll;
}

#menu.vh-100 {
    transition: all 1000ms;
}

.caja-img-producto {
    display: flex;
    align-items: center;
    width: auto;
    height: 370px;
    overflow: hidden;
    position: relative;
}
.img-producto-list {
    width: 100%;
    display: block;
}

/* Estilos para el background y la seccion de productos */
#seccion_productos {
    background-image: url(../img/2.jpg);
    background-size: cover;
    background-attachment: fixed;
}
#un_producto .card {
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(15px);
}

/* agregamos estilos al tope */
#tope {
    border: 1px solid grey;
    background-color: grey;
    border-radius: 1px;
    width: 75%;
    margin: 4px auto;
}

.cartaVistaProducto {
    display: inline-block;
    padding: 2% 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.contenedorProducto #un_producto {
    text-align: center;
}

.cajaVistaProductoImg {
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    overflow: hidden;
    position: relative;
}

.contenedorProducto {
    background-image: url(../img/2.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.imagenVistaProducto {
    width: 100%;
    display: block;
}

.cajaVistaProductoOptionsContainer {
    margin-bottom: 2%;
}

#cajaVistaProductoOptions {
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(15px);
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media (min-width: 460px) {
    .cartaVistaProducto {
        display: inline-block;
        padding: 2% 2%;
        margin-top: 2%;
        margin-bottom: 2%;
        max-width: 90%;
    }
    .cajaVistaProductoOptionsContainer {
        height: 95vh;
    }
    .cajaVistaProductoImg {
        display: flex;
        align-items: center;
        width: auto;
        height: 90vh;
        overflow: hidden;
        position: relative;
    }
    .imagenVistaProducto {
        height: 100%;
        width: auto;
        display: block;
    }
}

/* scroll bars */
*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
    width: 8px;
    border-radius: 4px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

*::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 10px;
}

#carritoTabla {
    height: 80vh;
}

/*barra de progreso */

.progress-bar {
    width: 300px;
    height: 21px;
    border-radius: 13px;
    padding: 3px;
    box-sizing: border-box;
}
.progress {
    background-color: #3490dc;
    width: 1%;
    height: 15px;
    border-radius: 13px;
}

/*Administracion */

.tabla-admin {
    height: 90vh;
}

.imageTableAdmin {
    max-width: 200px;
    max-height: 200px;
}

.imageTableAdminUser {
    max-width: 100px;
    max-height: 100px;
}
