.dropdown-menu {
    width: 100%;
}
.container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
.fake-link {
    cursor: pointer;
}
