.dropdown-menu {
    width: 100%;
}
.container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
.fake-link {
    cursor: pointer;
}

#usuario_logueado .dropdown-menu {
    z-index: 1040;
}

.image-cropper-register {
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background-color: darkgray;
}

.image-cropper {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    background-color: darkgray;
}

.profile-img {
    margin: 0 auto;
    height: 100%;
    width: auto;
}

#profile-btn {
    outline: none;
    box-shadow: none;
}

/* Seccion de estilos para el nav de productos */
#nav {
    transition: all 1000ms;
}
#lista {
    transition: all 1000ms;
}

#menu.vh-100 {
    transition: all 1000ms;
}

.caja-img-producto {
    display: flex;
    align-items: center;
    width: auto;
    height: 370px;
    overflow: hidden;
    position: relative;
}
.img-producto-list {
    width: 100%;
    display: block;
}

/* Estilos para el background y la seccion de productos */
#seccion_productos {
    background-image: url(../img/2.jpg);
    background-size: cover;
    background-attachment: fixed;
}
#un_producto .card {
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(15px);
}
